body {
   font-family: Arial, sans-serif;
   height: 100%;
   margin: 0;
      padding: 0;
   font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
   /*background-color: #F2F1F1 ;*/
}

.search {
   width: 14%;
   padding-bottom: 15px;
   border-bottom: 1px solid #DDDDDE ;
}

h1 {
   font-size: 20pt;
   margin: 10px 0 10px 5px;
   text-align: left;
   letter-spacing: .55px;
   color: #4E4F4F ;
}

#map {
   bottom: 0px;
   height: 100%;
   left: 15%;
   position: absolute;
   right: 0px;
     top: 0px;
   border-left: 2px solid #DDDDDE ;
}

#pac-input {
   width: 89%;
   margin-left: 5px;
   border: 1px solid grey;
   margin-right: 5px;
   margin-bottom: 10px;
}

h3 {
   font-size: 17px;
   color: #4E4F4F ;
   margin: 10px 0 10px 5px;
   text-align: left;
   letter-spacing: .50px;
   padding-bottom: 5px;
}

#hide-shops, #show-shops {
 width: 80px;
 height: 25px;
 margin-left: 5px;
 background-color: #EDEDED ;
 border-radius: 5px;
 border: .2px solid grey;
 font-size: 9pt;
 outline: none;
}

#hide-shops:hover, #show-shops:hover {
 cursor: pointer;
 background-color: #D1D0D0 ;
}

#hide-shops:active, #show-shops:active {
 transform: translateY(1.5px);
}

li {
 padding-top: 5px;
 margin-left: -36px;
 list-style: none;
 color: #656565 ;
 opacity: .7;
}
li span:hover {
   cursor: pointer;
}

#infowindow-content .title {
   font-weight: bold;
   letter-spacing: .75px;
}

#infowindow-content {
   display: none;
}

#map #infowindow-content {
   display: inline;
}

#pano {
   width: 20px;
   height: 20px;
}

/*@media screen and (max-width: 1670px) {
   h3 {
       font-size: 10pt;
   }
}

@media screen and (max-width: 1589px) {
   h3 {
       font-size: 9pt;
   }
}

@media screen and (max-width: 700px) {
   h2 {
       font-size: 10pt;
   }
}

@media screen and (max-width: 415px) {
   h2 {
       margin-left: 5px;
   }
   #pac-input {
       width: 50px;
       margin-left: 5px;
   }
}

@media screen and (max-width: 400px) {
   h2 {
       font-size: 8pt;
   }
   #pac-input {
       width: 44px;
       margin-left: 4px;
   }
}

@media screen and (max-width: 320px) {
   h2 {
       font-size: 7pt;
   }
   #pac-input {
       width: 36px;
   }
}*/