body {
   font-family: Arial, sans-serif;
   height: 100%;
   margin: 0;
      padding: 0;
   font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.container {
  width: 250px;
  text-align: center;
}

.search {
   padding-bottom: 1px;
   border-bottom: 1px solid #DDDDDE ;
}

h1 {
   font-size: 22pt;
   margin: 10px 0 10px 5px;
   text-align: left;
   letter-spacing: .55px;
   color: #4E4F4F ;
}

#map {
   bottom: 0px;
   height: 100%;
   left: 250px;
   position: absolute;
   right: 0px;
     top: 0px;
   border-left: 2px solid #DDDDDE ;
}

#pac-input {
   width: 95%;
   /*margin-left: 4.5px;*/
   border: 1px solid grey;
   margin-right: 5px;
}

#reset {
  width: 72px;
  background-color: #DDDDDE;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 10pt;
  padding: 4px;
}

#reset:hover {
  cursor: pointer;
  border: .5px solid grey;
}

#reset:active {
  transform: translateY(2px);
}

li {
 padding-top: 5px;
 margin-left: -35px;
 list-style: none;
 color: #656565 ;
 opacity: .7;
 text-align: left;
}

li span:hover {
   cursor: pointer;
}
/*@media screen and (max-width: 1670px) {
   h3 {
       font-size: 10pt;
   }
}

@media screen and (max-width: 1589px) {
   h3 {
       font-size: 9pt;
   }
}

@media screen and (max-width: 700px) {
   h2 {
       font-size: 10pt;
   }
}

@media screen and (max-width: 415px) {
   h2 {
       margin-left: 5px;
   }
   #pac-input {
       width: 50px;
       margin-left: 5px;
   }
}

@media screen and (max-width: 400px) {
   h2 {
       font-size: 8pt;
   }
   #pac-input {
       width: 44px;
       margin-left: 4px;
   }
}

@media screen and (max-width: 320px) {
   h2 {
       font-size: 7pt;
   }
   #pac-input {
       width: 36px;
   }
}*/